// ESTILOS E TAMANHOS DA FONTE

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Roboto', sans-serif;
}

// -- FONT DESKTOP

$font-1: 1.5em;
$font-2: 1.4em;
$font-3: 1.3em;
$font-4: 1.2em;
$font-5: 1.1em;
$font-6: 1.0em;

// -- FONT MOBILE

$font-mobile: 0.8em;