@import 'reset';
@import 'colors';
@import 'font';
@import 'mixins';

// ESTILOS DO SITE

.header{
  background: $cor-1;
  padding: 16px 0;
  width: 100%;

  
  text-align: center;
  position: relative;

  a{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    position: absolute;
    top: 40%;
    color: $cor-4;
    font-size: 20px;
  }
}

/* SECTION SEARCH */

.search{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 40px 0;
}

.text--search{
  display: flex;
}

.text--search p{
  margin-left: 20px;
  position: relative;
  font-weight: bold;
  font-size: $font-1;
  display: flex;
  align-items: center;
}

.text--search p::before{
  content: '';
  position: absolute;
  background: $cor-2;
  width: 14px;
  height: 35px;
  left: -25px;
}

.text--search img{
  margin-left: 20px;
}

/* INPUT */

.input--search{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  input{
    width: 475px;
    padding: 10px 15px;
    background: $cor-3;
    border: 0;
    border-radius: 5px;    
  }

  button{
    position: absolute;
    right: 15px;
    cursor: pointer;
    background: transparent;
    border: 0;
  }
}

/* BUY SECTION */

.text--buy{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date--buy{
  display: flex;
  align-items: center;

  span{
    font-weight: bold;
    font-size: $font-2;
    margin-left: 10px;
  }

  img{
    width: 18px;
  }
}

/* BACKGROUND */

.background{
  position: relative;

  img{
    width: 100%;
    box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 20px;
  }

  button{
    position: absolute;
    width: 296px;
    height: 40px;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,-50%);
    border: 0;
  
    background: $cor-2;
    border-radius: 5px;

  }
}

.background a{
  color: $cor-4;
  font-weight: bold;
  font-size: $font-1;
  display: block;
}

/* COMMING */

.comming{
  margin-bottom: 80px;
}

.comming h2{
  text-align: center;
  margin: 20px 0;
}

.comming--flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-item{
  display: flex;
  align-items: center;
  flex-direction: column;

  p,span{
    font-weight: bold;
  }

  img{
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.25);
  }

  p{
    margin-bottom: 10px;
    font-size: $font-3;
  }

  button{
    width: 100px;
    padding: 3px 5px;
    border: 0;
  
    background: $cor-2;
    border-radius: 5px;
  }

  a{
    color: $cor-4;
    font-weight: bold;
    font-size: $font-6;
    display: block;
  }
}

.date{
  margin-bottom: 10px;

  img{
    margin: 0;
    width: 15px;
    margin-right: 8px;
    box-shadow: initial;
    border-radius: initial;
  }

  span{
    font-size: $font-4;
  }
}

/* FOOTER */

.footer{
  background: $cor-1;
  width: 100%;  
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  a{
    color: $cor-4;
    font-weight: bold;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img{
    margin-left: 15px;
  }
}

// MODAL

.container{
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.568);
  width: 100%;
  height: 100vh;  

  display: flex;
  align-items: center;
  justify-content: center;

  // visibility: hidden;
  // opacity: 0;
  // transition: 0.5s;

  &.ativo{
    visibility: visible;
    opacity: 1;
  }
}

.box--white{
  min-width: 800px;
  // 40%
  height: 45rem;
  background: $cor-4;
  border-radius: 20px;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1.2fr;

  .close--button{
    position: absolute;
    right: 0;
    top: 0;

    background: $cor-2;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    color: white;
    cursor: pointer;
    z-index: 999;
  }
}

.modal--img {
  background-image: url(../img/queen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
}

.section--comprar{
  position: relative;

  img{
    width: 60%;
    margin: 40px 0 0 0;
  }

  h1{
    font-size: 2.0em;
    margin: 40px 0;
  }

  .local img{
    width: 20px;
    margin: 0;
    margin-right: 10px;
  }

  .date{
    display: flex;
    justify-content: space-around;

    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;

    span{
      display: flex;
      align-items: center;
      font-size: $font-4;
      font-weight: 500;
    }
  }

  #city{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  // BUTTON

  .button{
    margin: 50px 0 20px 0;

    button{
      width: 110px;
      height: 45px;
      color: $cor-2;
      font-weight: bold;
      border: 2px solid $cor-2;
      border-radius: 5px;
      background: transparent;
      letter-spacing: 2px;
      margin-right: 50px;
      cursor: pointer;
    }

    #inteira{
      background-color: $cor-2;
      color: $cor-4;
      margin-right: 0;
    }
  }

  // PRICE

  
































.finalizar{
  button{      
    width: 100%;
    font-size: $font-2;
    border: 0;
    font-weight: bold;  
    letter-spacing: 2px;
    background: #00923A;
    cursor: pointer;
    color: $cor-4;

    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px 0;
    border-bottom-right-radius: 20px;
  }
}
}



/* RESPONSIVO */

@import 'responsivoHome';